
.loader_box{
   min-height: calc(100vh);
   padding-bottom: 60px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.book{
   margin: 40px 0;
   display: grid;
   grid-template-columns: 340px 3fr;
   min-height: 400px;
   gap: 60px;
   .image{
      .loader_img{
         border-radius: 10px;
      }
   }

   .book_info{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 18px;

      .box_second{
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 5px;

         svg{
            color: #1C3A60;
            margin-right: 8px;
            font-size: 0.8rem;
         }
      }
      h1{
         margin: 5px 0 0 0;
      }
      p{
         margin: 0;
         text-align: justify;
      }

      .buttons{
         display: flex;
         gap: 20px;
      }

   }
}

.breadcrumb{
   display: flex;
   align-items: center;
   gap: 10px;
   list-style: none;
   margin: 10px 0;
   padding: 0;

   a{
      color: #1C3A60;
      border-bottom: 2px solid  #1C3A60BB;
   }

   .last{
      opacity: 0.7;
   }
}

@media screen and (max-width: 960px){
   .book{
      grid-template-columns: 280px 3fr;
      gap: 40px;
   }
}


@media screen and (max-width: 768px){
   .book{
      margin: 30px 0;
      grid-template-columns: 1fr;
      gap: 0px;
      .image{
         max-width: 400px;
         margin: 0 auto;
      }
      .book_info{
         margin: 0 20px;
         h1{
            text-align: center;
         }
         .buttons{
            width: 100%;
            justify-content: center;
         }
      }
   }
}

@media screen and (max-width: 480px){
   .book{
      grid-template-columns: 1fr;
      .image{
         max-width: auto;
         margin: 0 30px;
      }
      .book_info{
         margin: 0 10px;
      }
   }
}

@media screen and (max-width: 360px){
   .book{
      .book_info{
         .buttons{
            flex-direction: column-reverse;
            align-items: center;
         }
      }
   }
}