
.home{
   padding: 20px;
}

a{
   text-decoration: none;
   color: black;
}

.books{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
   gap: 35px;
   margin-top: 40px;
   
   .book{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: 0.5s;

      .box_img{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         min-height: 300px;
         background-repeat: no-repeat;

         .image{
            transition: 0.5s;
            img{
               width: 100%;
               transition: 0.5s;
               cursor: pointer;
            }
            div{
               transition: 0.5s;
            }

            &:hover img{
               transition: 0.3s ease-out;
               transform: scale(1.02); 
               box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.3);
            }
            &:hover div{
               transition: 0.3s ease-out;
               transform: scale(1.02); 
            }
         }
      }

      .box_text{
         min-height: 55px;
         text-align: center;
         
         .title{
            transition: 0.3s;
            margin-block: 4px 2px;
            cursor: pointer;
         }

         .text_autor{
            font-size: 0.9rem;
            margin-block: 5px 0;
            color: gray;
            font-style: italic;
         }
      }

      &:hover{
         transition: 0.3s;
         transform: scale(1.05);
      }

      &:hover .title{
         transition: 0.3s;
         transform: scale(1.02);
      }
   }
}

@media screen and (max-width: 768px){
   .home{
      padding: 20px 10px;
   }
   .books{
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 25px;
   };
}
