@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
   /* font-family: Montserrat, sans-serif; */
   font-family: "Roboto", Helvetica, Arial, sans-serif;
}
html{
   font-size: 16px;
}
body{
   margin: 0;
   padding: 0;
}

h3{
   font-size: 1rem;
}

table img{
   height: 80px;
}

table a{
   color: #1C3A60;
}

.container{
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 30px;
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.main{
   display: grid;
   grid-template-columns: minmax(170px, 1fr) 4fr;
   gap: 20px;
}

@media screen and (max-width: 768px){
   .main{
      grid-template-columns: 1fr;
      gap: 15px;
   };
}

.loader_box{
   min-height: calc(50vh);
   padding-bottom: 60px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

@media screen and (max-width: 768px) {
   .container{
      padding: 0 15px;
   }
}